body{
    margin: 0;
    padding: 0;
    background-color: mediumspringgreen;
}

.heading{
    position: absolute;
    font-family: cursive;
    font-size: 4em;
    margin-left: 12%;
    color: rgb(117, 117, 117);
}

.searchBox{
    position: absolute;
    top: 50%;
    transform: translate(45%, -50%);
}

.searchText{
    height: 80px;
    width: 800px;
    border: none;
    border-radius: 80px;
    text-align: center;
    outline: none;
    font-family: cursive;
    position: relative;
    font-size: 2em;
    background-color: wheat;
}
.searchText:hover{
    background-color: whitesmoke;
}

#searchButton{
    position: absolute;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border-style: outset;
    border-color: brown;
    color: white;
    background-color: black;
    margin-left: 38%;
    margin-top: 45px;
    font-family: cursive;
    font-size: 1.2em;
    font-weight: bold;
}

#searchButton:hover{
    color: springgreen;
    background-color: white;
}

.link{
    font-family: cursive;
    font-size: 1.55em;
    position: absolute;
    top: 80%;
    left: 3.5%;
    color: teal;
}

.link:hover{
    color: whitesmoke;
}